/* ==================== GOOGLE FONTS ====================*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --first-color: hsl(190, 69%, 61%);
  --first-color-second: hsl(190, 69%, 61%);
  --first-color-alt: hsl(190, 57%, 53%);
  --first-color-lighter: hsl(190, 92%, 85%);
  --title-color: hsl(190, 8%, 15%);
  --text-color: hsl(190, 8%, 45%);
  --text-color-light: hsl(190, 8%, 65%);
  --input-color: hsl(190, 70%, 96%);
  --body-color: hsl(190, 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(190, 12%, 90%);
  --scroll-thumb-color: hsl(190, 12%, 80%);
}
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(190, 30%, 8%);
  --title-color: hsl(190, 8%, 95%);
  --text-color: hsl(190, 8%, 45%);
  --text-color-light: hsl(190, 8%, 75%);
  --input-color: hsl(190, 29%, 16%);
  --body-color: hsl(190, 28%, 12%);
  --container-color: hsl(190, 29%, 16%);
  --scroll-bar-color: hsl(190, 12%, 48%);
  --scroll-thumb-color: hsl(190, 12%, 36%);
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 0.938rem;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 600;
}
.swiper {
  width: 100%;
  height: 25vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.page {
  /* position: absolute; */
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
